#sunb {
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
}

#pie {
    display: inline-block;
    padding-left: 100px;
    padding-right: 20px;
}

#viz {
  text-align: center;
}

#bardiv {
  text-align: center;
  margin-top: 100px;
  margin-bottom: -100px;
}

#ages {
  width: 150px !important;
}

#interactions {
  width: 200px !important;
}
